@using (Html.BeginForm("MakeCall", "Call", FormMethod.Post))
{
    <div>
        <label for="typeOfTrunk">Type of trunk:</label>
        <select id="typeOfTrunk" name="typeOfTrunk" class="form-control">
            <option value="SIP">SIP</option>
            <option value="PJSIP">PJSIP</option>
        </select>
    </div>
    <div>
        <label for="endpoint">Phone number :</label>
        <input type="text" id="phoneNumber" name="phoneNumber" />
    </div>
    <div>
        <label for="endpoint">Channel:</label>
        <input type="text" id="channel" name="channel" />
    </div>
    <div>
        <label for="extension">Extension:</label>
        <input type="text" id="extension" name="extension" />
    </div>
    <div>
        <label for="context">Context:</label>
        <input type="text" id="context" name="context" />
    </div>
    <div>
        <label for="callerId">Caller ID:</label>
        <input type="text" id="callerId" name="callerId" />
    </div>
    <button type="submit">Make Call</button>
}

<div>
    @if (ViewBag.Message != null)
    {
        <p>@ViewBag.Message</p>
    }
</div>
